.job-card {
  transition: all 0.3s ease;
}

.job-card:hover {
  transform: translateY(-5px);
}

.company-logo {
  width: 55px;
  height: 55px;
  background-color: #f1f5ff;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}

.category-card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.category-icon {
  font-size: 40px;
}